/*
    Theme: OGB Theme
    Author: Emilia 
*/

body, *{
    /* background: #e7e7e7; */
    font-family: 'Montserrat', sans-serif !important;
}

header {
    width: 100%;
    height: 75px;
    background: #FF6347;
    background: #FF7F50;
}

.navigation{
    list-style-type: none;
    margin-bottom: 0;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.navigation li {
    display: inline-block;
    margin: 10px 15px;
}

.navigation li a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

h1.page-title {
    text-align: center;
    margin-top: 42px;
    text-transform: uppercase;
}

h1.page-title hr {
    width: 20%;
    color: #000;
    text-align: center;
    border-top: 3px solid;
}